.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container .inner-container {
  max-width: 90vw;
}

.fruits-container {
  min-width: 450px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  justify-content: center;
}

.inner-container > .title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.fruit-card {
  position: relative;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 12px 2px rgb(227, 227, 227);
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.fruit-card .left {
  display: flex;
  gap: 1rem;
  transform: translateX(-30%);
}
.fruit-card .title {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fruit-card .weight-price {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.card__img {
  width: 6rem;
  box-shadow: 0 4px 12px 2px rgb(227, 227, 227);
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
.card__img img {
  width: 100%;
}

.remove {
  position: absolute;
  top: .5rem;
  right: .5rem;
  padding: .4rem;
  height: fit-content;
  border-radius: 6px;
  cursor: pointer;
  transition: .15s;
}
.remove:hover {
  background-color: rgb(242, 242, 242);
}

.add-fruit-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #34343495;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.add-fruit-container .inner-container {
  padding: 1rem;
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 1rem;
  position: relative;
}
.add-fruit-container .inner-container .cancel {
  display: flex;
  justify-content: end;
}
.add-fruit-container .inner-container .cancel button {
  background-color: #343434;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border: none;
  outline: none;
  color: #fff;
  transition: .25s;
}
.add-fruit-container .inner-container .cancel button:hover {
  background-color: #000000;
}